Source: namespaxe
Maintainer: None <None>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.1
Homepage: https://github.com/pyincorporation-com/namespaxe-cli

Package: python3-namespaxe
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: A command-line tool for interacting with cloud services.
 A command-line tool for interacting with cloud services.

