Package: python3-namespaxe
Source: namespaxe
Version: 0.1.7-1
Architecture: all
Maintainer: None <None>
Installed-Size: 39
Depends: python3-click, python3-requests, python3-tabulate, python3-yaml, python3:any
Section: python
Priority: optional
Homepage: https://github.com/pyincorporation-com/namespaxe-cli
Description: A command-line tool for interacting with cloud services.
 A command-line tool for interacting with cloud services.
